body {
    font-family: "Silkscreen", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

.battle {
    overflow: hidden;
    position: relative;  /* used to overlay the banner on top of the battle area */
}



/* Style for the animal battle */
.scene {
    min-width: 820px;
    min-height: 380px;

    background: rgb(162,191,194);
    background: linear-gradient(360deg, rgba(162,191,194,1) 0%, rgba(211,244,183,1) 29%, rgba(146,213,181,1) 69%, rgba(64,200,228,1) 94%);
}
.player {
    display: flex;
}

/* Style for poke health */
.health {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 244, 222);
    width: 270px;
    min-height: 68px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 10px #888888;
}
.health p {
    max-width: 276px;
    max-height: 75px;
    margin: 0;
    padding: 0;
}
.label {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-between;
}
.healthbar-container {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: #828080;
    border-radius: 20px;
}
.healthbar-container p {
    margin-left: 15px;
    color: rgb(255, 221, 29);
}


/* Move position of the player's health bar and stage */
#player-health {
    margin-left: 100px;
    margin-top: 180px;
}
#player-area {
    margin-left: 50px;
}
#player-area img {
    width: 120px;
    height: auto;
    margin-left: 100px;
}

/* Move position of the enemy's health bar and stage */
#enemy-health {
    margin-left: 60px;
    margin-top: 50px;
}
#enemy-area {
    margin-top: 60px;
    margin-left: 60px;
}
#enemy-area img {
    width: 120px;
    height: auto;
    margin-left: 100px;
}


/* Style the healthbar and alter its lenght depending on the player's score */
#enemy-healthbar, #player-healthbar {
    width: 160px;
    height: 15px;
    background-color: rgb(44, 237, 44);
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 5px;
}



/* Style for the area where the player sprite will stand */
.stage {
    background:  rgb(166, 179, 185);
    border-radius: 50%;
    width: 300px;
    height: 90px;
    border: 14px solid rgb(188, 202, 207);
}



/* Style for the moveset */
.button-container {
    display: flex;
    background-color: rgb(75, 26, 26);
    padding: 10px 10px;
    width: 800px;
}
.button-border {
    display: flex;
    width: 400px;
    height: 130px;
}
#moves  {
    background-color: white;
    border: 5px solid rgb(160, 24, 209);
    border-radius: 10px;
    display: flex;
    padding: 15px 30px;
}
.left, .right {
    display: flex;
    flex-direction: column;
}
#moves button {
    font-family: inherit;
    margin: 8px 30px;
    font-size: 20px;
    border: none;
}
#moves button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.right p {
    padding: 0;
    margin: 0;
    margin-left: 30px;
}


/* Style the div where the game dialogue will be in */
.text-container {
    background-color: white;
    border: 5px solid rgb(160, 24, 209);
    border-radius: 10px;
    width: 370px;
    height: 120px;
    margin-left: 10px;
}
#text {
    text-align: justify;
    white-space: pre-line; /* enable text to wrap when necessary, and on line breaks*/
    padding-left: 16px;
    padding-right: 16px;
}

/* Moving transition for the healthbars */
.slide-left {
    position: relative;
    animation: left 5s 1;
}
.slide-right {
    position: relative;
    animation: right 5s 1;
}
@keyframes left {
    from {left: -60px;}
    to {left: 0px;}
}
@keyframes right {
    from {left: 60px;}
    to { left: 0px;}
}


/* Style for the banner that transitions into the battle area, before the actual battle starts */
.banner {
    position: absolute;
    top: 0;
    left: 0;
}
 .top, .bottom {
    display: flex;
    flex-direction: column;
    position: inherit;
    background-color: black;
    width: 820px;
    height: 360px;
}
.top {animation: open-top 3s 1;}
.bottom {animation: open-bottom 3s 1;}

@keyframes open-top {
    from {transform: translateY(0);}
    to {transform: translateY(-360px);}
}
@keyframes open-bottom {
    from {transform: translateY(360px);}
    to {transform: translateY(720px);}
}


/* Style for the game's winner/loser screen */
.game-result {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(42, 41, 41));
    width: 820px;
    height: 800px;

    text-align: center;
    color: white;
    font-size: 20px;
}