body {
    font-family: "Silkscreen", sans-serif;
  }

.battle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Style for the animal battles */
.scene {
    min-width: 800px;
    min-height: 500px;

    background: rgb(162,191,194);
    background: linear-gradient(360deg, rgba(162,191,194,1) 0%, rgba(211,244,183,1) 29%, rgba(146,213,181,1) 69%, rgba(64,200,228,1) 94%);
}

/* Style for poke health */
.health {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 244, 222);
    width: 270px;
    min-height: 68px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 10px #888888;
}
.health p {
    max-width: 276px;
    max-height: 75px;
    margin: 0;
    padding: 0;
}
.label {
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-between;
}
.healthbar-container {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: #828080;
    border-radius: 20px;
}
.healthbar-container p {
    margin-left: 15px;
    color: rgb(255, 221, 29);
}


/* Style for the pokemon animal */
.stage {
    background:  rgb(166, 179, 185);
    border-radius: 50%;
    width: 300px;
    height: 90px;
    border: 14px solid rgb(188, 202, 207);
}


.player {
    display: flex;
}

/* Style for the moveset */
.button-container {
    display: flex;
    width: 800px;
    height: 120px;
    border: solid;
}
.moves  {
    display: flex;
    padding: 30px 40px;
}
.left, .right {
    display: flex;
    flex-direction: column;
}
.moves button {
    margin-left: 30px;
    margin-right: 30px;
}
.right p {
    padding: 0;
    margin: 0;
}
.pp {
    border: solid;
}